@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    background-color: dimgray;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
h1:hover{
    color: blue;
}